.b-link-stripe {
  max-width: 100%;
}

body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Muli", sans-serif;
  color: #eee;
  position: relative;
}

body {
  background-color: #333 !important;
  color: #eee !important;
}

.body_margin {
  min-height: 60px;
}

.container {
  position: relative;
}

.reports div {
  margin: 0 auto;
  width: 60%;
  min-width: 300px;
}

.reports button {
  width: 49%;
  margin: 0 auto;
  background: #c0c0c0;
}

/*.reports button:first-child{
	border-right:3px solid $s_color;
}
.reports button:last-child{
	border-left:3px solid $s_color;
}*/
.reports button a {
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 6px;
}

.reports button a:hover,
.reports button a:active {
  color: #5281ac;
}

form.contact input {
  margin: 3% 1% 1% 0;
}

#contact > div.footer-left > div > form > input[type="submit"] {
  margin-top: 0;
}

form.contact input,
form.contact textarea {
  color: #eee;
}

/*-- banner --*/
.banner {
  background: url(/images/banner.png) no-repeat 0px 0px;
  background-size: cover;
  width: 100%;
  padding: 1% 0 10%;
}

.banner-info {
  text-align: center;
  background: url(/images/line1.png) no-repeat 50% 84%;
  display: block;
  margin: 12% auto 0;
}

.banner-info h2 {
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  margin: 0;
}

.banner-info p.para {
  color: #eee;
  font-size: 1.8em;
  font-family: "Open Sans", sans-serif;
  margin: 1em 0 2.3em;
}

.see {
  text-align: center;
  position: relative;
}

.see a {
  padding: 20px 70px;
  color: #eee;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  background: #333;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.see a:hover {
  color: #333;
  background: #ddd;
  text-decoration: none;
}

.back {
  position: absolute;
  top: 130%;
  left: 39.9%;
}

.back p {
  margin: 0;
}

.back p label {
  background: #017484;
  border-right: 1px solid #eee;
  font-size: 3px;
  color: #017484;
  padding: 0px 57px;
  margin: 0;
}

.back p span {
  background: #333;
  font-size: 3px;
  color: #333;
  padding: 0px 58px;
}

/*-- //banner --*/
/*-- banner-bottom -nav --*/
.head-logo {
  float: left;
  padding: 0.7em 0 0;
}

.banner-bottom {
  background: #eee;
}

.head-logo a {
  display: block;
}

.banner-nav {
  float: right;
}

.banner-nav span {
  display: none;
}

.banner-nav ul {
  margin: 0;
}

.banner-nav ul li {
  display: inline-block;
  float: left;
}

.banner-nav ul li.active a {
  text-transform: uppercase;
  border-left: 5px solid #ddd;
}

.banner-nav ul li.active a {
  color: #333;
}

.banner-nav ul li:nth-child(6) a {
  border-right: 1px solid #eeeeee;
}

.banner-nav ul li a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 23px 24px;
  border-left: 1px solid #eeeeee;
}

.banner-nav ul li a:hover {
  color: #333;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #76ea3d !important;
  text-decoration: none !important;
}

/*-- //banner-bottom -nav --*/
/*-- services --*/
.services {
  background: #333;
  position: relative;
  margin-bottom: 15em;
}

.service-box {
  width: 25%;
  margin: 0 auto;
}

.service-box p {
  border: 4px solid #eee;
  background: url(/images/1.png) no-repeat 40px 19px;
  display: block;
  color: #eee;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 20px 40px 20px 75px;
  text-align: center;
}

.service-box p:hover {
  text-decoration: none;
  color: #eee;
  display: block;
}

.service-box-line {
  border-right: 4px solid #eee;
  width: 50%;
  padding: 50px;
}

.services p.para1 {
  color: #eee;
  font-size: 18px;
  margin: 2em 0 0;
  text-align: center;
}

.services p.para1 span {
  display: block;
}

.service-grid {
  float: left;
  width: 19%;
  height: 309px;
  background: #eee;
  text-align: center;
  padding: 6em 0em;
}

.service-grid .fig span {
  background: url(/images/energy2.png) no-repeat center;
  display: block;
  height: 47px;
}

.service-grid .figx span {
  background: url(/images/droplet.png) no-repeat center;
  display: block;
  height: 48px;
}

.service-grid .fig1 span {
  background: url(/images/renewable.png) no-repeat center;
  display: block;
  height: 47px;
}

.service-grid .fig2 span {
  background: url(/images/petrol.png) no-repeat center;
  display: block;
  height: 47px;
}

.service-grid .fig3 span {
  background: url(/images/natural_gas.png) no-repeat center;
  display: block;
  height: 47px;
}

.service-grid h4 {
  color: #333;
  font-size: 18px;
  margin: 1em 0 0;
}

.service-grid p {
  font-size: 14px;
  padding: 2px 9% 10%;
  line-height: 25px;
  margin: 1em 0;
  color: #333;
}

.service-grids {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -ms-text-justify: left;
  text-justify: left;
  float: left;
  width: 100%;
  padding: 3%;
}

.work {
  border-top: 1px solid #ddd;
}

.work-box {
  width: 25%;
  margin: 0 auto;
}

.work-box p {
  border: 4px solid #ddd;
  background: url(/images/services.png) no-repeat 38px 18px;
  display: block;
  color: #eee;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 20px 60px 20px 80px;
  text-align: center;
}

.work-box p:hover {
  text-decoration: none;
  color: #eee;
  display: block;
}

.work-box-line {
  border-right: 4px solid #ddd;
  width: 50%;
  padding: 50px;
}

.work p.para2 {
  color: #eee;
  font-size: 18px;
  margin: 2% 0 5%;
  text-align: center;
}

.work p.para2 span {
  display: block;
}

/*-- portfolio --*/
/*----- Strip -----*/
.b-link-stripe {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.b-link-stripe .b-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
}

/*------------------------------------------*/
/*	Animation effects
/*------------------------------------------*/
.b-animate-go {
  text-decoration: none;
}

.b-animate {
  visibility: hidden;
}

.b-animate img {
  margin-top: 36%;
  display: -webkit-inline-box;
}

/* lt-ie9 */
.b-animate-go .b-animate {
  visibility: visible;
}

.b-from-left {
  position: relative;
}

.b-animate-go:hover .b-from-left {
  left: 0;
}

/*--team--*/

.b-wrapper {
  background: rgba(51, 51, 51, 0.37);
  height: 270px;
  border: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.b-animate-go:hover {
  text-decoration: none;
}

.portfolio-wrapper {
  position: relative;
  float: left;
  width: 25%;
}

.portfolio-wrapper2 {
  position: relative;
  float: left;
  width: 23%;
  margin: 0 1%;
  text-align: center;
}

/*-- //portfolio --*/
/*-- //work --*/
/*-- portfolio-bottom --*/

.revees {
  padding: 10% 0 0;
}

/*-- //portfolio-bottom --*/
/*------------------ Slider Part starts Here----------*/

#slider2 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 50%;
  float: left;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
}

.rslides li {
  position: relative;
  display: block;
  float: none;
}

.rslides img {
  height: auto;
  border: 0;
}

/*----*/

/*------------------ Slider Part ends Here----------*/
/*-- footer --*/

.footer-left {
  float: left;
  width: 60%;
  position: relative;
}

.footer-right {
  padding: 0 2%;
  width: 40%;
  float: right;
}

.footer-right h4 {
  color: #eee;
  font-size: 15px;
  margin: 0;
  padding-top: 0;
}

.footer-right h4 span {
  font-size: 22px;
}

.footer-right p {
  color: #eee;
  font-size: 15px;
  margin: 2em 0 3em;
  width: 62%;
}

.footer-right input[type="text"] {
  outline: none;
  border: none;
  background: #2f3333;
  float: left;
  width: 50%;
  font-size: 14px;
  color: #eee;
  padding: 20px 5px 20px 20px;
}

.footer-right input[type="submit"] {
  outline: none;
  border: none;
  background: url(/images/right.png) no-repeat 1.5em 1.5em #252828;
  display: block;
  padding: 20px 30px;
}

.footer-right ul {
  padding: 0;
  margin: 0;
}

.footer-right ul li,
.mes {
  display: inline-block;
  margin: 0 5px;
  width: 100%;
  color: #eee;
  padding: 3% 0;
}

.footer-right ul li a.p {
  background: url(/images/img-sprite.png) no-repeat -126px 0px;
  display: block;
  width: 45px;
  height: 45px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.footer-right ul li a.p:hover {
  background: url(/images/img-sprite.png) no-repeat -126px -74px;
  display: block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.footer-right ul li a.twitter {
  background: url(/images/img-sprite.png) no-repeat -243px 0px;
  display: block;
  width: 45px;
  height: 45px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.footer-right ul li a.twitter:hover {
  background: url(/images/img-sprite.png) no-repeat -243px -74px;
  display: block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.footer-left a {
  color: #eee;
}

.footer-left a:hover {
  text-decoration: none;
  color: #eee;
}

/*-- //footer --*/
/*-- about --*/

/*-- //about --*/
/*-- header-bottom --*/
.header-bottom h3 {
  color: #333;
  font-size: 25px;
  font-family: "Muli", sans-serif;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 4em 0;
  text-transform: capitalize;
  border-bottom: 1px solid #eeeeee;
}

.header-bottom-right {
  float: left;
  width: 50%;
  padding: 0 5% 0;
}

.header-bottom-right h4 {
  color: #333;
  font-size: 27px;
  margin: 2em 0 1em;
  font-family: "Muli", sans-serif;
  font-style: normal;
}

.header-bottom-right p.what {
  color: #eee;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  width: 100%;
  font-family: "Muli", sans-serif;
  font-style: normal;
}

/*-- //header-bottom --*/
/*-- good --*/

/*-- //good --*/
/*-- team --*/
.team {
  padding: 4em 0;
}

.team h3 {
  color: #333;
  font-size: 28px;
  letter-spacing: 13px;
  margin: 0;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-style: normal;
}

.leave-comment {
  padding: 0 0 4em;
}

.leave-comment h3 {
  color: #76ea3d;
  margin: 0;
  font-size: 25px;
  padding: 3% 0;
  font-family: "Muli", sans-serif;
  font-style: normal;
}

.leave-comment p {
  color: #eee;
  font-size: 14px;
  margin: 0.5em 0 2em;
  font-family: "Muli", sans-serif;
  font-style: normal;
}

.leave-comment input {
  outline: none;
  border: 1px solid #eee;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  font-style: normal;
  float: left;
  background: none;
  padding: 11px 10px;
  width: 100%;
}

.leave-comment input[type="text"]:nth-child(2) {
  margin: 0 0.95em 2em;
}

.leave-comment textarea {
  outline: none;
  border: 1px solid #eee;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  font-style: normal;
  width: 100%;
  background: none;
  padding: 10px;
  resize: none;
  height: 200px;
  margin: 2em 0;
}

.leave-comment input[type="text"].in1 {
  background: url(/images/user.png) no-repeat 4px 15px;
  display: block;
  padding-left: 2.5em;
}

.leave-comment input[type="email"].in2 {
  background: url(/images/mail4.png) no-repeat 4px 15px;
  display: block;
  padding-left: 2.5em;
}

.leave-comment input[type="tel"].in3 {
  background: url(/images/phone.png) no-repeat 4px 15px;
  display: block;
  padding-left: 2.5em;
}

.leave-comment textarea.in4 {
  background: url(/images/message.png) no-repeat 4px 11px;
  display: block;
  padding-left: 2.5em;
}

.leave-comment input[type="submit"] {
  outline: none;
  font-size: 18px;
  font-family: "Muli", sans-serif;
  font-style: normal;
  background: #ccc;
  padding: 15px 0;
  width: 35%;
  color: #333;
  display: block;
  border: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.leave-comment input[type="submit"]:hover {
  background: #76ea3d;
}


div.link {
  display: none;
  text-align: center;
  color: #389c06;
  padding: 5% 0;
}

a.more_link {
  color: #389c06;
}

a.more_link:hover,
a.more_link:active {
  color: #389c06;
}

.no_margin_right {
  margin-right: 0;
}

.wrapit {
  border: 1px solid #eee;
  display: block;
  width: auto;
  margin: 0 auto;
  width: 50%;
  color: #76ea3d;
  padding: 2%;
  font-size: 1.7em;
  font-family: "Open Sans", sans-serif;
  /* font-weight: 200; */
  text-transform: uppercase;
  text-align: center;
}

.header-bottom {
  padding: 4em 0;
}

.header-bottom h3 {
  color: #eee;
  border-bottom: none;
  padding: 0;
}

.bg_img {
  background: url("/images/banner.png") no-repeat;
  background-size: cover;
}

.f_contact {
  width: 80%;
  margin: 0 auto 0;
  padding: 1% 0 0;
}

.banner-info p.para {
  color: #76ea3d;
  text-transform: uppercase;
}

.back p span {
  padding: 0px 56px;
}

.see a {
  padding: 20px 40px;
}

span.southern {
  color: #5281ac;
  padding: 0 0 0 12px;
}

span.partner {
  color: #389c06;
}

span.partner,
span.southern {
  font-size: 1.5em;
}

.banner-nav ul li a,
span.partner,
span.southern {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

div.head-logo > a > img {
  width: 34px;
}

.service-grid {
  padding: 3em 0em 0em;
}

.service-grid .fig span,
.service-grid .fig1 span,
.service-grid .fig2 span,
.service-grid .fig3 span {
  min-height: 68px;
}

div.contact {
  width: 50%;
  min-width: 230px;
  height: auto;
  color: #eee;
  background: #5281ac;
  float: left;
}

form.contact {
  opacity: 0.7;
}

form.contact:hover {
  opacity: 1;
}

.footer-right {
  padding: 0 2em 2em;
  width: 40%;
  float: right;
}

.footer-left a {
  color: #5281ac;
}

.footer-right h4 {
  text-transform: uppercase;
  padding: 0 1%;
}

div.contact a {
  width: 100%;
  color: #eee;
  padding: 7%;
  text-decoration: none;
  display: block;
}

.portfolio-wrapper h4 {
  color: #eee;
  text-shadow: 0 1px #000;
  font-size: 0.5em;
  font-weight: 600;
  padding: 48% 0em 3%;
  margin: 0 auto;
  width: 80%;
  text-transform: uppercase;
}

.c_info {
  padding-top: 2%;
  width: 30%;
  border-left: 1px solid #76ea3d;
}

#contact > div.footer-right.c_info {
  padding-top: 2%;
}

.service-box {
  font-weight: 100;
}

.service-grid h4 {
  font-weight: 600 !important;
}

.h_intro {
  font-size: 2em !important;
}

.margin_space {
  min-height: 85px;
}

.left_right > div {
  width: 50%;
  float: left;
  color: #eee;
  padding: 0 3% 0 0;
}

.left_ul li {
  border-bottom: 1px solid #eee;
  margin: 2% 7% 2% 7%;
  padding: 1% 0;
}

.left_ul li:first-child {
  border-bottom: 1px solid #eee;
  margin-top: 0;
}

.left_ul li:last-child {
  border-bottom: none;
}

.about_quote {
  padding: 2%;
  text-align: center;
  border-top: 1px solid #76ea3d;
  border-bottom: 1px solid #76ea3d;
  font-size: 1.5em;
  margin: 5% 0 0;
}

p.about_p {
  margin: 2% 0 0;
  padding: 3% 3% 0;
  letter-spacing: 1px;
  line-height: 1.9;
}

.left_ul h3 {
  text-align: right;
}

.clearfix {
  clear: both;
}

.f_more,
.cor_val {
  color: #389c06;
  font-size: 1.2em;
}

.service_p {
  padding: 5%;
  text-align: justify;
  height: 150px;
  overflow: hidden;
}

.mission {
  padding: 2% 0;
}

.header-bottom-right h2 {
  margin-top: 0;
}

.s_bold {
  color: #389c06;
  font-size: 1.1em;
}

.h2_t {
  font-size: 1.4em !important;
}

div.map {
  padding: 5%;
}

.lines {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 3% !important;
}